{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white">edit store</h1>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form.name,  {'attr': {'class' : "form-control", 'placeholder': 'Enter name of store'}}) }}
            {{ form_widget(form.phone,  {'attr': {'class' : "form-control", 'type' : "number" , 'placeholder': 'Enter phone number'}}) }}
            {{ form_widget(form.login,  {'attr': {'class' : "form-control", 'placeholder': 'Enter login'}}) }}
            {{ form_widget(form.password,  {'attr': {'class' : "form-control", 'placeholder': 'password'}}) }}
            {{ form_widget(form.isActive, {'attr': {'class' : "form-control", 'placeholder': 'isActive'}}) }}
            {{ form_widget(form.managers, {'attr': {'class' : "form-control", 'placeholder': 'managers'}}) }}

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-block"> Update</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}