{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body" style="text-align: center">
                <h1 style="color: white"> Add Manager</h1>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form.fullName,  {'attr': {'class' : "form-control", 'placeholder': 'Enter full name '}}) }}
            {{ form_widget(form.userName,  {'attr': {'class' : "form-control", 'type' : "number" , 'placeholder': 'username'}}) }}
            {{ form_widget(form.password,  {'attr': {'class' : "form-control", 'placeholder': 'Enter password'}}) }}
            <select class="custom-select" id="inputGroupSelect01" name="roles" >

                <option selected>Choose Role</option>

                <option  >ADMIN</option>
                <option  >MANAGER</option>
            </select>


            <br>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-block"> Create</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}